<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Celebrities-Sergio Ramos Club Career Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="styles/styles.css" rel="stylesheet">
    </head>
    <body>        
      <div class="container">
          <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="#">Celebrities</a>
                </div>
                <ul class="nav navbar-nav">
                <li><a href="/home">Home</a></li>
                <li><a href="/personal-information">Personal Information</a></li>
                <li><a href="/club-career">Club Career</a></li>
                <li><a href="/gallery">Gallery</a></li>
                </ul>
            </div>
          </nav>
          <div class="row">
            <div class="col-sm-8">
            <h1>Sergio Ramos - Club Career</h1>
            <h2>Sevilla.</h2> 
            <p class="navbar-text club-career">
            Born in Camas, Seville, Andalusia, Ramos began his career at local side Sevilla FC, 
            emerging through the club's youth system alongside Jesús Navas and Antonio Puerta. 
            He made his first-team – and La Liga – debut on 1 February 2004, coming on as a 64th-minute 
            substitute for Francisco Gallardo in a 0–1 away loss against Deportivo de La Coruña.[4]

            In the 2004–05 season, Ramos appeared in 41 games as Sevilla finished sixth and qualified 
            to the UEFA Cup, scoring in home fixtures against Real Sociedad (2–1) and Real Madrid (2–2).
            In the season's edition of that European tournament, he scored his first continental goal, 
            heading to conclude a 2–0 win over CD Nacional at the Estadio Ramon Sánchez Pizjuán in the first round
            </p>
            <h2>Real Madrid : 2005 - 2009</h2> 
            <p class="navbar-text club-career">
            In the summer of 2005, Ramos was purchased by Real Madrid for €27 million, a record for a Spanish teenager.
            He was the only Spanish player brought in during Florentino Pérez's first stint as Real's president.
            At the club, Ramos was assigned the number 4 shirt, previously worn by Fernando Hierro. On 6 December 2005,
            he netted his first goal for the Merengues, in a 1–2 UEFA Champions League group stage loss at Olympiacos.
            In his first four seasons at Real Madrid, Ramos displayed a goalscoring instinct unusual to many defenders, 
            netting more than 20 goals overall. He also received the first nine of his 21 red cards for the club, including
            four in his debut season. Ramos was named in both FIFA and UEFA's 2008 Team of the Year, adding the FIFPro Team
            of the Year 2007–08 accolade. He also finished 21st in the European Player of the Year nomination for 2008.           
            </p>
            <h2>Real Madrid : 2009 - 2015</h2> 
            <p>
            At the start of the 2009–10 season, Ramos was appointed as one of Real Madrid's four captains. On 21 February 2010
            he played his 200th official match for the capital team against Villarreal CF (150 in the first division). 
            On 20 April 2011, Ramos started in the season's Copa del Rey final, a 1–0 win against Barcelona in Valencia. 
            In the subsequent victory procession, while celebrating on the top of the club's bus, he accidentally lost hold
            of the cup, which fell under the wheels of the vehicle; the trophy was dented as a result. 
            On 12 July 2011, Ramos extended his contract with Real Madrid until 2017. 
            On 14 December 2013, Ramos received a club record 18th red card for Real Madrid in a 2–2 draw at Osasuna, but the suspension
            was later lifted. 
            On 29 April 2014, Ramos scored twice from headers in a 4–0 away win against Bayern Munich in the semi-finals of the Champions
            League, with the tie ending with a 5–0 aggregate score and Madrid's qualification to the decisive match for the first time
            in twelve years. On 24 May, in the final against Atlético Madrid, he headed home in stoppage time to tie the game 1–1, 
            and his team went on to win 4–1 in extra time to claim their tenth trophy in the competition; he was also chosen by fans 
            as Man of the match. Ramos started 2014–15 season on 12 August 2014 by playing full 90 minutes in 2–0 success against 
            Sevilla to win first trophy of the season, the UEFA Super Cup. He then played the two-legged Supercopa de España final against
            Atlético Madrid with Los Blancos losing 2–1 on aggregate. Ramos scored his first goal of the season on 31 August in week 
            two of La Liga, a header in a 4–2 away loss against Real Sociedad. He scored in both the semi-final and the final of the 2014
            FIFA Club World Cup in Morocco as Real Madrid won the tournament, and was voted the player of the tournament.           
            </p>
            <h2>Real Madrid : 2015 - present</h2> 
            <p>
            On 17 August 2015, Ramos agreed a new five-year contract with Real Madrid, tying him to the club until 2020. He was also 
            made captain after the transfer of Casillas to FC Porto. He received his 20th red card for Real Madrid in a 2–1 win over 
            Las Palmas, having earlier scored the game's opening goal with a header from an Isco corner kick. 
            On 2 April, he returned from suspension in 2–1 victory against Barcelona at Camp Nou,  he received his 21st red card and
            fourth in a Clásico fixture. On 28 May 2016, Ramos once again scored in a UEFA Champions League final against Atlético Madrid,
            putting Real ahead in the first half. After a second-half equaliser from Atlético. He then scored a penalty in the shoot-out
            which resulted in Real winning 5–3; thus, he lifted his first UEFA Champions trophy as a captain. He was named man of the match by UEFA after the game.
            Ramos started in the 2016 UEFA Super Cup, scoring Real Madrid's second goal of the match in the 93rd minute, bringing
            the game into extra-time. Real Madrid were the eventual 3–2 winners, with Ramos being named man of the match.           
            </p>
            </div>
            <div class="col-sm-4">
            <img src="/images/sergio_ramos_club_career_page_1.jpg" class="img-responsive" alt="Sergio Ramos" width="404" >
            <img src="/images/sergio_ramos_club_career_page_2.jpg" class="img-responsive" alt="Sergio Ramos" width="404" >
            <img src="/images/sergio_ramos_club_career_page_3.jpg" class="img-responsive" alt="Sergio Ramos" width="404" >            
            </div>    
          </div>
        </div>    
    </body>
</html>