<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Celebrities-Sergio Ramos Home Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="styles/styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
          <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="#">Celebrities</a>
                </div>
                <ul class="nav navbar-nav">
                <li><a href="/home">Home</a></li>
                <li><a href="/personal-information">Personal Information</a></li>
                <li><a href="/club-career">Club Career</a></li>
                <li><a href="/gallery">Gallery</a></li>
                </ul>
            </div>
          </nav>

          <div class="row">
            <div class="col-sm-8">
                <h1>Sergio Ramos</h1>
                <h2>Spanish association football player.</h2> 
                <p class="navbar-text">
                Sergio Ramos García (Spanish pronunciation: [ˈserxjo ˈramoz ɣarˈθi.a]; born 30 March 1986) is 
                a Spanish professional footballer who plays for and captains both, Real Madrid and the Spain 
                national football team. A central defender, he can also play as a right back.
                After emerging through Sevilla's youth academy, Ramos went on to become a mainstay for 
                Real Madrid where he has won 13 major honours and developed into one of La Liga's top scorers 
                from a defensive position.
                Internationally, Ramos represented the Spanish national team at three World Cups and three European 
                Championships, winning the former tournament in 2010 and the latter in 2008 and 2012. 
                He made his first appearance at the age of 18 and, in 2013, he became the nation's youngest player 
                to ever reach 100 caps.
                </p>
            </div>
            <div class="col-sm-4"><img src="/images/sergio_ramos_home_page.jpg" class="img-responsive" alt="Sergio Ramos" width="404" height="256"></div>
          </div>
        </div>
        <!-- end container-->
    </body>
</html>