<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Celebrities-Sergio Ramos Personal Info Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="styles/styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
          <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="#">Celebrities</a>
                </div>
                <ul class="nav navbar-nav">
                <li><a href="/home">Home</a></li>
                <li><a href="/personal-information">Personal Information</a></li>
                <li><a href="/club-career">Club Career</a></li>
                <li><a href="/gallery">Gallery</a></li>
                </ul>
            </div>
          </nav>
          <div class="row">
            <div class="col-sm-8">
                <table style="width:100%">
                    <tr>
                        <th colspan="3">PERSONAL INFORMATION</th>
                    </tr>
                    <tr>
                        <td>Full name:</td>
                        <td>Sergio Ramos García</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Date of birth:</td>
                        <td>30 March 1986</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Place of birth:</td>
                        <td>Camas, Spain</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Height:</td>
                        <td>1.83 m (6 ft 0 in)</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Playing position:</td>
                        <td>Defender</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th colspan="3">CLUB INFORMATION</th>
                    </tr>
                    <tr>
                        <td>Current team:</td>
                        <td>Real Madrid</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Number:</td>
                        <td>4</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th colspan="3">YOUTH CAREER</th>
                    </tr>
                    <tr>
                        <td>1996 - 2003:</td>
                        <td>Sevilla</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th colspan="3">SENIOR CAREER</th>
                    </tr>
                    <tr>
                        <td>2003 - 2004:</td>
                        <td>Sevilla B</td>
                        <td>26 APPS</td>
                    </tr>
                    <tr>
                        <td>2004 - 2005:</td>
                        <td>Sevilla</td>
                        <td>39 APPS</td>
                    </tr>
                    <tr>
                        <td>2005 -    :</td>
                        <td>Real Madrid</td>
                        <td>358 APPS</td>
                    </tr>
                    <tr>
                        <th colspan="3">NATIONAL TEAM</th>
                    </tr>
                    <tr>
                        <td>2002:</td>
                        <td>Spian U17</td>
                        <td>1 APPS</td>
                    </tr>
                    <tr>
                        <td>2004:</td>
                        <td>Spain U19</td>
                        <td>6 APPS</td>
                    </tr>
                    <tr>
                        <td>2004:</td>
                        <td>Spain U21</td>
                        <td>6 APPS</td>
                    </tr>
                    <tr>
                        <td>2005 - :</td>
                        <td>Spain</td>
                        <td>142 APPS</td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4"><img src="/images/sergio_ramos_personal_info.jpg" class="img-responsive" alt="Sergio Ramos" width="400" height="256"></div>
          </div>
        </div>
    </body>
</html>